#### Allen Daniel Yesa

#### Aditya Subramanian Muralidaran

In [1]:
print ("Hello World !")

Hello World !

In [2]:
#Atomic Data Types
my_integer = 2
my_other_integer = 2 + 3
my_float = 2.0
print (my_integer)
print (my_other_integer)
print (my_float)

2
5
2.0

In [3]:
#Boolean
my_true_bool = True
my_false_bool = False
this_is_true = (0 < 100)
this_is_false = (0 > 100)

print (my_true_bool)
print (my_false_bool)
print (this_is_true)
print (this_is_false)

True
False
True
False

In [4]:
#Strings
a_string = "hello"
same_as_previous = 'hello'
an_empty_string = ""
w_a_single_quote = "hello's"

print (a_string)
print (same_as_previous)
print (an_empty_string)
print (w_a_single_quote)

hello
hello

hello's

In [5]:
#Multi line string
multi_line_string = """line 1
line 2"""
print (multi_line_string)

print ("ABCD"[0])
print ("ABCD"[0:2])
print ("ABCD"[1:3])
print ("ABCD"[1:])
print ("ABCD"[:-1])

line 1
line 2
A
AB
BC
BCD
ABC

In [6]:
#Comments and Docstrings

# This whole line is a comment
a = 5 # and the last part of this line is too

print (a)

5

In [7]:
#function with Docstring
def sqr(x):
	"This function just squares its input "
	return x * x

print (sqr(5))

25

In [8]:
#List Set and Tuples

my_list = ["a ", "b ", "c "]
my_set = set(my_list)
my_tuple = tuple(my_list)

print (my_list[0]) # prints "a "
my_list[0] = "A " # changes that element of the list
my_list.append("d ") # adds new element to the end
# List elements can be ANYTHING
mixed_list = ["A ", 5.7, "B ", [1,2,3]]
print (mixed_list)

original_list = [1,2,3,4,5,6,7,8]
squares = [x*x for x in original_list]
squares_of_evens = [x*x for x in original_list if x%2==0]

print (original_list)
print (squares)
print (squares_of_evens)

my_list = ["a", "b", "c"]
first_two_elements = my_list[0:2]

print (first_two_elements)

my_list = ["a", "b", "c"]
all_but_last_element = my_list[:-1]

print (all_but_last_element)

a
['A ', 5.7, 'B ', [1, 2, 3]]
[1, 2, 3, 4, 5, 6, 7, 8]
[1, 4, 9, 16, 25, 36, 49, 64]
[4, 16, 36, 64]
['a', 'b']
['a', 'b']

In [9]:
#Strings and List

print ("ABC DEF".split())
print ("ABC \tDEF".split())
print ("ABC \tDEF".split(' '))
print ("ABCABD".split("AB"))

print (",".join(["A", "B", "C"]))

#slice
start, end, count_by = 1, 7, 2
print ("ABCDEFG"[start: end: count_by])

#Tuples

my_tuple = (1, 2, "hello world")
print (my_tuple[0]) # prints 1
#my_tuple[1] = 5 # This will give an error!

my_tuple = (1, 2)
zeroth_field, first_field = my_tuple

print (zeroth_field)
print (first_field)

['ABC', 'DEF']
['ABC', 'DEF']
['ABC', '\tDEF']
['', 'C', 'D']
A,B,C
BDF
1
1
2

In [10]:
# Dictionaries

my_dict = {"January": 1, "February":2}
print (my_dict["January"]) # prints 1
my_dict["March"] = 3 # add new element
my_dict["January"] = "Start of the year" # overwrite old value
print (my_dict)

# conversion between pair tuple and dict
pairs = [("one",1), ("two",2)]
as_dict = dict(pairs)
same_as_pairs = as_dict.items()

print (pairs)
print (as_dict)
print (same_as_pairs)

1
{'January': 'Start of the year', 'February': 2, 'March': 3}
[('one', 1), ('two', 2)]
{'one': 1, 'two': 2}
dict_items([('one', 1), ('two', 2)])

In [11]:
#Sets

s = set()
print (5 in s)
s.add(5)
print (5 in s)
s.add(5) #does nothing
print (s)

def my_function(x):
	y = x+1
	x_sqrd = x*x
	return x_sqrd
five_plus_one_sqrd = my_function(5)

print (five_plus_one_sqrd)

def raises(x, n=2):
	return pow(x,n)

two_sqrd = raises(2)
two_cubed = raises(2, n=3)

print (two_sqrd)
print (two_cubed)

False
True
{5}
25
4
8

In [12]:
#function with lambda
sqr = lambda x : x*x
five_sqrd = sqr(5)
print (five_sqrd)

def apply_to_evens(a_list, a_func):
	return [a_func(x) for x in a_list if x%2==0]
my_list = [1,2,3,4,5]
sqrs_of_evens = apply_to_evens(my_list, lambda x:x*x)

print (sqrs_of_evens)

25
[4, 16]

In [13]:
#For Loops and Control Structures

my_list = [1, 2, 3]
for x in my_list:
	print ("the number is ", x)

for key, value in my_dict.items():
	print ("the value for ", key, " is ", value)

#if statement 
i=2;
if i < 3:
	print ("i is less than three")
elif i < 5: print ("i is between 3 and 5")
else: print ("i is greater than 5")

i = 0
while i < 5:
	print ("i is still less than five")
	i = i+1

the number is  1
the number is  2
the number is  3
the value for  January  is  Start of the year
the value for  February  is  2
the value for  March  is  3
i is less than three
i is still less than five
i is still less than five
i is still less than five
i is still less than five
i is still less than five

In [14]:
#Exception Handling

input_text = """line 1
line 2
line 3
line 4
line 5
line 6
line 7"""

try:
	lines = input_text.split("\n")
	print ("tenth line was: ", lines[9])
except:
	print ("There were < 10 lines")

#Classes and Objects

class Dog:
	def __init__(self, name):
		self.name = name
	def respond_to_command(self, command):
		if command == self.name: self.speak()
	def speak(self):
		print ("bark bark!!")
fido = Dog("fido")
fido.respond_to_command("spot") # does nothing
fido.respond_to_command("fido") # prints bark bark

There were < 10 lines
bark bark!!

In [15]:
#Hashable and Unhashable types

a = 5 # a is a hashable int
b = a # b points to a COPY of a
a = a + 1
print (b)

A = [] # A is an UNhashable list
B = A # B points to the SAME list as A.
A.append(5)
print (B)

A = [{}, {}] # list of dicts
B = [x for x in A]
A[0]["name"] = "bob"
print (B[0]["name"])

5
[5]
bob

In [16]:
SALARY_RAISE_FACTOR = 0.05
STATE_CODE_MAP = {'WA': 'Washington', 'TX': 'Texas'}
def update_employee_record(rec):
	old_sal = rec['salary']
	new_sal = old_sal * (1 + SALARY_RAISE_FACTOR)
	rec['salary'] = new_sal
	state_code = rec['state_code']
	rec['state_name'] = STATE_CODE_MAP[state_code]
input_data = [
	{'employee_name': 'Susan', 'salary': 100000.0,
	 'state_code': 'WA'},
	{'employee_name': 'Ellen', 'salary': 75000.0,
	 'state_code': 'TX'},
]
for rec in input_data:
	update_employee_record(rec)
	name = rec['employee_name']
	salary = rec['salary']
	state = rec['state_name']
	print (name + ' now lives in ' + state)
	print (' and makes $' + str(salary))

Susan now lives in Washington
 and makes $105000.0
Ellen now lives in Texas
 and makes $78750.0

In [17]:
import pandas as pd
# Making data frame from a dictionary
# that maps column names to their values
df = pd.DataFrame({
	"name": ["Bob", "Alex", "Janice"],
	"age": [60, 25, 33]
	})
# Reading a DataFrame from a file
#other_df = pd.read_csv("myfile.csv")
# Making new columns from old ones
# is really easy
df["age_plus_one"] = df["age"] + 1
df["age_times_two"] = 2 * df["age"]
df["age_squared"] = df["age"] * df["age"]
df["over_30"] = (df["age"] > 30) # this col is bools
# The columns have various built-in aggregate functions
total_age = df["age"].sum()
median_age = df["age"].quantile(0.5)
# You can select several rows of the DataFrame
# and make a new DataFrame out of them
df_below50 = df[df["age"] < 50]
# Apply a custom function to a column
df["age_squared"] = df["age"].apply(lambda x: x*x)

df = pd.DataFrame({
	"name": ["Bob", "Alex", "Jane"],
	"age": [60, 25, 33]
	})
print (df.index) # prints 0‐2, the line numbers
# Create a DataFrame containing the same data,
# but where name is the index
df_w_name_as_ind = df.set_index("name")
print (df_w_name_as_ind.index) # prints their names
# Get the row for Bob
bobs_row = df_w_name_as_ind.ix["Bob"]
print (bobs_row["age"]) # prints 60

RangeIndex(start=0, stop=3, step=1)
Index(['Bob', 'Alex', 'Jane'], dtype='object', name='name')
60

C:\Users\Allen\AppData\Roaming\Python\Python36\site-packages\ipykernel_launcher.py:35: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated

In [18]:
import pandas as pd
s = pd.Series([1,2,3]) # make Series from list
# display the values in s
s

0    1
1    2
2    3
dtype: int64

In [19]:
s+2 # Add a number to each element of s

0    3
1    4
2    5
dtype: int64

In [20]:
s.index # you can access the index directly

RangeIndex(start=0, stop=3, step=1)

In [21]:
# Adding two series will add corresponding elements to each other
s + pd.Series([4,4,5])

0    5
1    6
2    8
dtype: int64

In [22]:
bobs_row = df_w_name_as_ind.ix["Bob"]
type(bobs_row)

pandas.core.series.Series

In [23]:
bobs_row

age    60
Name: Bob, dtype: int64

In [24]:
df_w_age = pd.DataFrame({
"name": ["Tom", "Tyrell", "Claire"],
"age": [60, 25, 33]
})

In [25]:
df_w_height = pd.DataFrame({
"name": ["Tom", "Tyrell", "Claire"],
"height": [6.2, 4.0, 5.5]
})

In [26]:
joined = df_w_age.set_index("name").join(df_w_height.set_index("name"))
print (joined)

        age  height
name
Tom      60     6.2
Tyrell   25     4.0
Claire   33     5.5

In [27]:
print (joined.reset_index())

     name  age  height
0     Tom   60     6.2
1  Tyrell   25     4.0
2  Claire   33     5.5

In [28]:
df = pd.DataFrame({
"name": ["Tom", "Tyrell", "Claire"],
"age": [60, 25, 33],
"height": [6.2, 4.0, 5.5],
"gender": ["M", "M", "F"]
})
# use built-in aggregates
print (df.groupby("gender").mean())

         age  height
gender
F       33.0     5.5
M       42.5     5.1

In [29]:
medians = df.groupby("gender").quantile(0.5)
# Use a custom aggregation function
def agg(ddf):
    return pd.Series({
    "name": max(ddf["name"]),
    "oldest": max(ddf["age"]),
    "mean_height": ddf["height"].mean()
    })

In [30]:
print (df.groupby("gender").apply(agg))

        mean_height    name  oldest
gender
F               5.5  Claire      33
M               5.1  Tyrell      60